
@{
    ViewBag.Title = "Editar";
}

<h2>Editar</h2>

<form method="post" action="/cliente/ProcessarUpdatePost">
    <input type="hidden" name="cliente.id" value="@ViewBag.cliente.Id" />
    <table>
        <tr>
            <td>Titulo:</td>
            <td><input type="text" name="cliente.RazaoSocial" value="@ViewBag.cliente.RazaoSocial" /></td>
        </tr>
        <tr>
            <td>Autor:</td>
            <td><input type="text" name="cliente.Cnpj" value="@ViewBag.cliente.Cnpj" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Enviar" /></td>
        </tr>
    </table>
</form>

